{% include static %}
<header>
        {% include '_partials/nav.html'%}
        <!-- hero -->
        <div class="hero">
            <img src="{% static 'imgs/hero/hero.jpg'%}" alt="">
            <div class="container">
                <div class="hero-text">
                    <h3>Get upto 50% off now</h3>
                    <h2>Glammy Gifts packs</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quod, est et magni nulla quis
                        molestias provident obcaecati cumque suscipit!</p>
                    <a href="#" class="btn">Visit Store</a>
                </div>
            </div>
        </div>

    </header>