<!-- nav -->
<nav>
    <div class="container">
        <div class="brand">
            <a href="#" class="nav-brand">Glammy</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#" class="nav-item">Store</a></li>
                <li><a href="#" class="nav-item">Featured</a></li>
                <li><a href="#" class="nav-item">Blog</a></li>
            </ul>
        </div>
        <div class="shortcuts">
            <ul>
                <li><a href="#" class="nav-item"><i class="fab fa-lens"></i></a></li>
                <li><a href="#" class="nav-item"><i class="fab fa-shoping-cart"></i></a></li>
            </ul>
        </div>
    </div>
</nav>